body {
    font-family: "Lato", sans-serif;
    line-height: 130%;
}

.header{
    display: flex;
    justify-content: center;
}

.journey{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    min-width: 300px;
    border-bottom: 1.5px solid lightgray;
}

.head-text{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
}

#journey-word{
    padding-left: 14px;
    color: darkslategray;
}

#circle {
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: salmon;
    color: white;
    align-items: center;
    justify-content: center;
    
}

#line{
    color: lightgray;
    padding: 0px 5px 0px 5px;
    
}

#simple-way{
    max-height: 22px;
    color: lightgray;
    max-width: 120px;
    font-size: 10px;
    
}

.icon-group{
    justify-content: flex-end;
    width: 50%;
}

.icons{
    background-color: lightgray;
    color: white;
    border-radius: 50%;
    margin-left: 15px;
    height: 24px;
    width: 24px;
    text-align: center;
    justify-content: center;
    
}

.hello{
    width: 100%;
    justify-content: center;
    
    
}

.hello-all-content{
    width: 800px;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid lightgray;
    margin-left: auto;
    margin-right: auto;
    
}

.hello-heading{
    align-items: center;
    color: darkslategray;
    font-size: 21px;
    text-align: center;
    line-height: 10px;
    height: 90px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 15px;
    
}


.main-img-container{
    margin-left: 80px;
    padding-bottom: 20px;
}
.main-img{
    height: 350px;
    width: 650px;
    border-radius: 5px;
    align-content: center;
    
}

.full-icon-descrip{
    display: flex;
    padding-bottom: 30px;
    
}

.individual{
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 33%;
}

.indiv-icon{
    color: salmon;
    font-size: 50px;
}

.icon-title{
    color: darkslategray;
    margin-bottom: -20px;
}

.underline, .descrip{
    color: lightgray;
}

.descrip{
    padding-left: 30px;
    padding-right: 30px;
}

.simple{
    width: 100%;
    justify-content: center;
    
}


.simp-img-par{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1.5px solid lightgray;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 800px;
}



.simp-img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-right: 30px;
}


.simp-title, .simp-paragraph{
    color: darkslategray;
    text-align: left;
}

.simp-paragraph{
    color: lightgray;
    text-align: left;
    padding-top: 10px;
}

.rh{
    width: 100%;
    justify-content: center;
}

.rh-content{
    justify-content: flex-start;
    display: flex;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 18px;
    
    
}

.rh-nonimg-content{
    text-align: left;
    width: 575px;
    margin-right: 10px;
    
}

.rh-heading{
    color: darkslategray;
}

.rh-paragraph{
    padding-top: 10px;
    padding-bottom: 10px;
    color: lightgray;
    
    
}

.more-info{
    display: flex;
    flex-direction: row;
}

 button{
     
    display: flex;
    justify-content: center;
    height: 45px;
    width: 160px;
    text-align: center;
    background-color: salmon;
    color: white;
    border-radius: 3px;
    vertical-align: middle;
    border: none;
    outline: none;
    font-size: 14px;
    
}

#or{
    color:darkslategray;
    padding-left: 18px;
}

#info-color-p{
    color: salmon;
    padding-left: 14px;
}

.rh-image{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin: auto;
    padding-left: 25px;
}

.twitter-section{
    width: 100%;
    background-color:gainsboro;
    justify-content: center;
    text-align: center;
    
}

.twitter-content{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tweet{
    color: darkslategray;
}

.logo{
    color: #00aced;
    font-size: 40px;
}

#buddha{
    color: salmon;
}

#long-ago{
    color: #8c99a6;
}

.d1,.d2,.d3{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: gray;
    
}

.d2{
    margin-left: 5px;
    margin-right: 5px;
}

.d1{
    background-color: salmon;
    
}

.threedots{
    display: flex;
    justify-content: center;
}


